<template>
  <div class="container">
    <div class="row">
      <div class="col text-left">
        <form id="formCategory" class="form-floating">
          <div class="mb-3">
            <label for="formCategory" class="form-label"
              ><strong>Actualizar la categoría</strong>
            </label>
            <input
              v-model="category.id"
              @keyup.enter="createCategory"
              type="text"
              class="form-control"
              placeholder="id de la Categoria a ser ingresada en el sistema"
            />
            <input
              v-model="category.name"
              @keyup.enter="createCategory"
              type="text"
              class="form-control"
              placeholder="Nombre de la Categoria a ser ingresada en el sistema"
            />
            <!-- Botón para añadir -->
            <button
              @click="update(category)"
              value="Añadir"
              class="btn btn-success"
            >
              Añadir
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  components: { Modal },
  emits: ["editCategory"],
  props: ["editMode", "category"],
  setup(props, { emit }) {
    const isModalOpen = ref(false);
    const state = reactive({
      category: {
          id:"",
        name: "",
      },
    });
    onMounted(() => {
      state.category = props.category; //user to edit
    });
    async function submit() {
      if (props.editMode) {
        const { data } = await axios.put(
          "https://zarcos-webapp-be.herokuapp.com/events/category/" +
            props.category.id +
            "/",
          state.form
        );
        emit("editCategory", data);
      }
      isModalOpen.value = false;
    }
    return { isModalOpen, submit, state };
  },
};
</script>

<style>
</style>