<template>
  <div class="container">
    <div class="row">
      <div class="greetings">
        <h1>
          ¡Bienvenido <span> {{ username }} </span>!
        </h1>
      </div>
      <div class="list-group">
        <h3 class="list-group-item">Categorias</h3>
        <button
          v-on:click="loadCategory"
          type="button"
          class="btn btn-secondary"
        >
          Gestionar Categorias
        </button>
        <h3 class="list-group-item">Tipo de Evento</h3>
        <button
          v-on:click="loadEventType"
          type="button"
          class="btn btn-secondary"
        >
          Gestionar Tipos de Evento
        </button>
        <h3 class="list-group-item">Lugar</h3>
        <button 
          v-on:click="loadPlace"
          type="button"
          class="btn btn-secondary"
        >
          Gestionar Lugares
        </button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "About",
  data() {
    return {
      username: localStorage.getItem("username") || "none",
    };
  },
  component: {},
  methods: {
    loadCategory: function () {
      this.$router.push({ name: "listCategory" });
    },
    loadPlace: function () {
      this.$router.push({ name: "listPlace" });
    },
    loadEventType: function () {
      this.$router.push({ name: "listEventType" });
    },
  },
  created() {},
};
</script>

<style>
.greetings {
  margin: 0;
  padding: 0%;
  height: 20%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.greetings h1 {
  font-size: 24px;
  color: #283747;
}
.greetings span {
  color: crimson;
  font-weight: bold;
}
</style>