<template>
  <div class="container">
    <!-- Formulario para añadir categorias -->
    <section class="form">
      <form id="formCategory" class="form-floating">
        <div class="mb-3">
          <label for="formCategory" class="form-label"
            ><strong>Registrando la categoría</strong>
          </label>
          <input
            v-model="category.name"
            @keyup.enter="createCategory"
            type="text"
            class="form-control"
            placeholder="Nombre de la Categoria a ser ingresada en el sistema"
          />
          <!-- Botón para añadir -->
          <button
            v-on:click="createCategory"
            type="submit"
            value="Añadir"
            class="btn btn-success"
          >
            Añadir
          </button>
        </div>
      </form>
    </section>
    <!-- Tabla donde se muestran los datos -->
    <div class="mb-3">
      <label for="listCategory" class="form-label"
        ><strong>Listado de Categorias</strong></label
      >
      <table
        id="listCategory"
        class="table table-light table-striped table-hover"
      >
        <thead>
          <tr>
            <th>Código</th>
            <th>Denominación de la Categoria</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="table-active"
            v-for="category in categories"
            :key="category.id"
          >
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
                  <button type="button" class="btn btn-info" v-on:click="editCategory">Editar</button> |
                  <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "addCategory",
  mounted() {
    axios
      .get("https://zarcos-webapp-be.herokuapp.com/events/category/")
      .then((res) => {
        this.categories = res.data;
      })
      .catch((error) => {
        console.log(error);
        alert("ERROR: Falló la consulta.");
      });
  },
  data: function () {
    return {
      category: {
        id: "",
        name: "",
      },
      categories: [],
    };
  },
  methods: {
    createCategory: function () {
      axios
        .post(
          "https://zarcos-webapp-be.herokuapp.com/events/category/",
          this.category,
          { headers: {} }
        )
        .then((result) => {
          let datos = {
            name: this.category.name,
          };
          this.$emit("crearCategoria", datos);
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Falló el registro.");
        });
    },
    editCategory: function () {
      
    },
  },
};
</script>

<style>
#listCategory{
  margin: 0 auto;
  padding: 2em;
  display: absolute;
}
.table-active{
  align-items: center;
}
</style>