<template>
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto mt-5">
        <div class="mb-3">
          <label for="formEventType" class="form-label"
            ><h3><strong>Registrando Tipos de Eventos</strong></h3></label
          >
          <form @submit.prevent="submitForm">
            <div class="form-group row">
              <input
                type="text"
                class="form-control col-3 mx-2"
                placeholder="Nombre del tipo de evento"
                v-model="eventType.name"
              />
              <button class="btn btn-success">Enviar</button>
            </div>
          </form>
          <table class="table table-light table-striped table-hover">
            <thead>
              <tr>
                <th>Código</th>
                <th>Denominación del tipo de evento</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="table-active"
                v-for="eventType in eventTypes"
                :key="eventType.id"
                @dblclick="$data.eventType = eventType"
              >
                <td>{{ eventType.id }}</td>
                <td>{{ eventType.name }}</td>
                <td>
                  <button type="button" class="btn btn-info">Editar</button> |
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: "eventType",
  data: function() {
    return {
      eventType: {},
      eventTypes: [],
    };
  },
  async created() {
    await this.getEventTypes();
  },
  methods: {
    submitForm() {
      if (this.eventType.id === undefined) {
        this.createEventType();
      } else {
        this.editEventType();
      }
    },
    async getEventTypes() {
      let response = await fetch(
        "https://zarcos-webapp-be.herokuapp.com/events/event_type/"
      );
      this.eventTypes = await response.json();
    },

    async createEventType() {
      await this.getEventTypes();
      await fetch("https://zarcos-webapp-be.herokuapp.com/events/event_type/", {
        method: "post",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(this.eventType),
      });
      await this.getEventTypes();
    },
    async editEventType() {
      await this.getEventTypes();
      await fetch(`https://zarcos-webapp-be.herokuapp.com/events/event_type/${this.eventType.id}/`, {
        method: "put",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(this.eventType),
      });
      await this.getEventTypes();
      this.eventType = {};
    },
    async editEventType2(){
      axios.put(`https://zarcos-webapp-be.herokuapp.com/events/event_type/${this.eventType.id}/`, {
                name: this.eventType.name,
            }).then((res) => {
        this.eventTypes = res.data;
      })
      .catch((error) => {
        console.log(error);
        alert("ERROR: Falló la consulta.");
      });
    }

  },
};
</script>
